html,body{
    margin:0px;
    height: 100%;
    background: #eee ;
}
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
.navigation{
    text-align: center;
    color: white;
    background: #1c1c1f;
    height: 100%;

}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color: white;
    
}
.navigation .glyphicon{
font-size: 25px;
display: block;
width: 100%;
}

#user_logged{
    text-decoration: center;
    background: #1c1c1f;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}

#user_logged .user-image{
    background: #eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;

}

.artistImage img,
.albumImage img{
  width: 150px;
}

.artists-list{
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
}

.artistItem{
  padding: 0 !important;
  height: 317px;
  border: 1px solid #444;
  margin: 0 20px;
}

.artistItem .artistImage{
  height: 245px;
  width: 100%;
  overflow: hidden;
}

.artistItem .artistImage img{
  width: 100%;
  min-height: 100%;
}

.artistItem .artistName{
  color: white;
  padding: 10px;
  background: #222326;
}

.artistItem .artistName a{
  color: white;
}

#artist-head-card .artist{
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

#artist-head-card .artist img{
  height: 130px;
}




