  
<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
      <h1>Bienvenido a Spotyfaik</h1>
      <p>Escucha los principales éxitos de tus artistas favoritos</p>
      <p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]">Ver artistas</a> 
      </p>
      <iframe src="https://giphy.com/embed/3o6Ztc2Zgb9q5K32o0" width="680" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/movistar-elige-todo-musica-3o6Ztc2Zgb9q5K32o0">via GIPHY</a></p> 
    </div>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Spotifaik</span> por <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Hector Martinez, Dairo Fuentes, Carlos Merino, Cristian Batres, Sergio Motto</span> se distribuye bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>
  </div>
